.board {
  width: 780px;
  height: auto;
  border-radius: 12px;
  background: white;
  margin-top: 16px;
  margin-left: 20px;
  position: absolute;
  left: 247px;
  top: 294px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 24px;
  box-shadow: 2px 2px 15px 0px #4640431a;
}
.titleBoard {
  height: 30px;
  width: auto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #282739;
}
.timeBoard {
  height: 21px;
  width: 99px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #a9a9b0;
  margin-top: 4px;
}
.selecBoard {
  height: auto;
  width: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #282739;
  position: absolute;
  top: 33px;
  right: 170px;
}
.selecTimeboard {
  height: auto;
  width: 110px;
  border-radius: 8px;
  padding: 10px 12px 10px 12px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #d4d4d7;
  position: absolute;
  right: 53px;
  cursor: pointer;
}
.al:hover div.bl {
  display: block;
  z-index: 1;
}
.dayBoard {
  height: 24px;
  width: 110px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #7e7d88;
}
.imgdayBoard {
  height: 24px;
  width: 24px;
  border-radius: 0px;
}
.selecDifferent {
  height: 132px;
  width: 110px;
  border-radius: 8px;
  padding: 0px;
  border: 1px solid #d4d4d7;
  position: absolute;
  right: -1px;
  top: 45px;
  background-color: white;
  display: none;
}
.selecDifferentItem {
  height: auto;
  width: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #535261;
  padding: 10px 0px 10px 12px;
}
.selecDifferentItem:hover {
  background: #fff2e7;
  border-radius: 7px;
  cursor: pointer;
}
.respon {
  width: 100%;
  margin-top: 15px;
}
.slngay {
  height: 30px;
  width: 44px;
  position: absolute;
  left: 21px;
  bottom: 28px;
}
