.inform {
  width: 240px;
  height: 810px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}
.list {
  height: 290px;
  position: relative;
  top: 170px;
  display: flex;
  flex-direction: column;
}
.listItem {
  width: 208px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: stretch;
  padding: 14px 0px 14px 12px;
  cursor: pointer;
}
.listItem:hover {
  background-color: #fff2e7;
  color: orange;
}
.ml:hover div {
  display: block;
}
.bacham {
  position: relative;
  left: 10px;
}
.mucluc {
  display: none;
  height: auto;
  width: auto;
  position: absolute;
  left: 208px;
  top: 241px;
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 1;
  color: black;
}
.muclucItem {
  width: 200px;
  height: auto;
  text-align: left;
  padding: 12px;
}
.muclucItem:hover {
  background-color: #fff2e7;
  color: orange;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.out {
  display: flex;
  flex-direction: row;
  justify-items: stretch;
  align-items: center;
  height: 46px;
  width: 165px;
  position: absolute;
  left: 12px;
  bottom: 30px;
  border-radius: 8px;
  background: #fff2e7;
  color: orange;
  cursor: pointer;
}
.item5 {
  margin: 14px 8px 14px 12px;
}
.thiet {
  color: white !important;
  background-color: orange !important;
}
.content {
  width: 100%;
  height: auto;
  background-color: transparent;
  position: relative;
}
.title {
  height: 30px;
  width: auto;
  color: #7e7d88;
  position: absolute;
  left: 24px;
  top: 29px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.title1 {
  height: 30px;
  width: auto;
  color: #ff9138;
  position: absolute;
  left: 210px;
  top: 28px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.title2 {
  height: 36px;
  width: auto;
  color: #ff9138;
  position: absolute;
  left: 24px;
  top: 90px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
.title3 {
  position: absolute;
  bottom: 722px;
  right: 64px;
  top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  height: auto;
}
.linkavatar {
  text-decoration: none;
}
.Link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: black;
}

.tukhoa {
  width: 300px;
  height: 72px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 110px;
  left: 874px;
}
.search {
  height: 20px;
  width: 20px;
  border-radius: 0px;
  position: absolute;
  top: 43px;
  left: 255px;
  z-index: 1;
}
.numberleveloptionname {
  height: 24px;
  width: auto;
  color: #282739;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.numberleveloptionkhoa {
  height: auto;
  width: 300px;
  border-radius: 8px;
  padding: 10px 12px 10px 12px;
  display: flex;
  justify-content: space-between;
  color: #535261;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  background-color: white;
  margin-top: 6px;
  border: 1.5px solid #d4d4d7;
  cursor: pointer;
  align-items: center;
  z-index: 1;
}

.boxname {
  height: 24px;
  width: auto;
  color: #282739;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  position: absolute;
  left: 24px;
  top: 110px;
}
.boxtime {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: absolute;
  left: 24px;
  top: 140px;
}
.boxtimeItem1 {
  width: auto;
  height: 48px;
  padding: 6px 12px 6px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1.5px solid #d4d4d7;
  background-color: white;
  border-radius: 8px;
}
.space {
  margin: 0 10px 0 10px;
}
.cale {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.date {
  height: auto;
  width: 90px;
  border-width: 0px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.table {
  position: absolute;
  top: 192px;
}
.bang {
  width: 1120px;
  position: relative;
  left: 24px;
  top: 7px;
}
.th {
  height: 40px;
  background-color: orange;
  color: white;
  max-width: 270px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  align-items: center;
  border-color: white !important;
  border-width: 1px !important;
  padding-left: 5px;
  text-align: left;
}
.td {
  padding-left: 8px;
  height: 43px;
  background-color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #535261;
  margin-left: 2px;
  border-width: 1px !important;
  border-color: white !important;
}

.tdchan {
  background-color: #fff2e7;
  padding-left: 8px;
  height: 49px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #535261;
  margin-left: 2px;
  border-width: 1px !important;
  border-color: white !important;
}
.duongdan {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.stop {
  color: red;
  width: 50px;
  height: 50px;
}
img.chamdo,
img.chamxanh {
  width: 8px;
  height: 8px;
  margin-bottom: 2px;
}
.newpage {
  width: 288px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  left: 552px;
  top: 30px;
}
.newpageitem {
  height: 26px;
  width: 26px;
  align-items: center;
  text-align: center;
  color: #7e7d88;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}
.newpageitem:hover {
  background-color: #fff2e7;
}
.ninow {
  background-color: orange !important;
  color: white !important;
}
