.inform {
  width: 240px;
  height: 810px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}
.list {
  width: 220px;
  height: 44px;
  position: relative;
  top: 170px;
  display: flex;
  flex-direction: column;
}
.listItem {
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: stretch;
  padding: 14px 0px 14px 12px;
  cursor: pointer;
}

.thiet {
  color: white !important;
  background-color: orange !important;
}
.content {
  width: 100%;
  height: auto;
  background-color: transparent;
  position: relative;
}
.contentname {
  display: flex;
  position: absolute;
  top: 29px;
  left: 24px;
}
.title {
  height: 30px;
  width: auto;
  color: #7e7d88;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.title1 {
  height: 30px;
  width: auto;
  color: #7e7d88;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.title2 {
  height: 30px;
  width: auto;
  color: #ff9138;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.title3 {
  height: 36px;
  width: auto;
  color: #ff9138;
  position: absolute;
  left: 24px;
  top: 102px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
.title4 {
  position: absolute;
  bottom: 722px;
  right: 64px;
  top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  height: auto;
}
.inforservice {
  width: 1200px;
  height: 600px;
  background-color: white;
  border-radius: 16px;
  position: relative;
  left: 24px;
  top: 146px;
  padding-top: 1px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.inforservicename {
  height: auto;
  width: auto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  color: orange;
  margin-top: 24px;
}
.inforservicenhaplieuitem {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  width: auto;
  height: auto;
  margin-top: 20px;
}
.inforservicenhaplieuitem1 {
  width: 400px;
  height: 48px;
  border-radius: 8px;
  padding-left: 12px;
  border: 1.5px solid #d4d4d7;
  margin-top: 10px;
}

.nutsubmit {
  margin-top: 80px;
}
.nutsubmitcancel {
  height: auto;
  width: 147px;
  border-radius: 8px;
  padding: 10px 24px 10px 24px;
  border: 1.5px solid #ff9138;
  background-color: #fff2e7;
  color: orange;
  cursor: pointer;
}
.nutsubmitadd {
  height: auto;
  width: 147px;
  border-radius: 8px;
  padding: 10px 24px 10px 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  background-color: orange;
  color: white;
  border-width: 0px;
  cursor: pointer;
  margin-left: 32px;
}

.space {
  margin: 0 16px 0 16px;
  padding-top: 4px;
}
