.inform {
  width: 240px;
  height: 810px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}
.list {
  height: 290px;
  position: relative;
  top: 170px;
  display: flex;
  flex-direction: column;
}
.listItem {
  width: 208px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: stretch;
  padding: 14px 0px 14px 12px;
  cursor: pointer;
}
.listItem:hover {
  background-color: #fff2e7;
  color: orange;
}
.ml:hover div {
  display: block;
}
.bacham {
  position: relative;
  left: 10px;
}
.mucluc {
  display: none;
  height: auto;
  width: auto;
  position: absolute;
  left: 208px;
  top: 240px;
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 1;
  color: black;
}
.muclucItem {
  width: 200px;
  height: auto;
  text-align: left;
  padding: 12px;
}
.muclucItem:hover {
  background-color: #fff2e7;
  color: orange;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.out {
  display: flex;
  flex-direction: row;
  justify-items: stretch;
  align-items: center;
  height: 46px;
  width: 165px;
  position: absolute;
  left: 12px;
  bottom: 30px;
  border-radius: 8px;
  background: #fff2e7;
  color: orange;
  cursor: pointer;
}
.item5 {
  margin: 14px 8px 14px 12px;
}
.thiet {
  color: white !important;
  background-color: orange !important;
}
.content {
  width: 100%;
  height: auto;
  background-color: transparent;
  position: relative;
}
.contentname {
  display: flex;

  position: absolute;
  top: 29px;
  left: 24px;
}
.title {
  height: 30px;
  width: auto;
  color: #7e7d88;
  /* position: absolute;
    left: 24px;
    top: 29px; */
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.title1 {
  height: 30px;
  width: auto;
  color: #7e7d88;
  /* position: absolute;
    left: 120px;
    top: 28px; */
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.title2 {
  height: 36px;
  width: auto;
  color: #ff9138;
  /* position: absolute;
    left: 24px;
    top: 90px; */
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.title3 {
  position: absolute;
  bottom: 722px;
  right: 64px;
  top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  height: auto;
}
.title4 {
  color: #ff7506;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  position: absolute;
  left: 24px;
  top: 104px;
}
.linkavatar {
  text-decoration: none;
}
.Link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: black;
}

.backservice {
  width: 90px;
  height: auto;
  background-color: #fff2e7;
  color: #ff7506;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 277px;
  padding: 12px 4px 12px 4px;
  border-bottom-left-radius: 8px;
}
.backservicecontent {
  width: auto;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.1px;
  height: 40px;
  width: 60px;
  margin: 0px 4px 0px 4px;
  justify-items: stretch;
  text-align: center;
}
.dicved {
  width: 1112px;
  height: 600px;
  position: absolute;
  top: 164px;
  left: 24px;
  background-color: white;
  border-radius: 16px;
}
.leftdic {
  width: 500px;
  height: auto;
  position: absolute;
}
.inforservicename {
  height: auto;
  width: auto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: #ff7506;
  margin-top: 15px;
  margin-left: 16px;
  margin-bottom: 15px;
}
.inforservicenameItem {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.inser {
  width: auto;
  color: #282739;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin: 8px 10px 12px 16px;
}
.inser1 {
  width: auto;
  color: #282739;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin: 12px 10px 12px 0px;
}
.inser2 {
  width: auto;
  color: #282739;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin: 20px 10px 12px 16px;
}
.inser3 {
  color: #282739;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 16px;
}
.inserco {
  color: #535261;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-top: 8px;
  position: absolute;
  left: 130px;
}
.inputtext {
  width: 61px;
  height: auto;
  max-height: 40px;
  margin-right: 15px;
  border-radius: 8px;
  padding: 8px;
  border: 1.5px solid #d4d4d7;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.inputtext1 {
  width: 61px;
  height: auto;
  margin-right: 15px;

  border-radius: 8px;
  padding: 8px;
  border: 1.5px solid #d4d4d7;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  left: 127px;
  top: 310px;
}
.rightdic {
  width: 500px;
  height: auto;
  position: absolute;
  left: 568px;
  /* top: 155px; */
}
.boxname {
  height: 24px;
  width: auto;
  color: #282739;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  position: absolute;
  left: 195px;
  top: 10px;
}
.boxtime {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: absolute;
  left: 195px;
  top: 41px;
}
.boxtimeItem1 {
  width: auto;
  height: 44px;
  padding: 6px 12px 6px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1.5px solid #d4d4d7;
  background-color: white;
  border-radius: 8px;
}
.space {
  margin: 0 16px 0 16px;
  padding-top: 4px;
}
.spaced {
  margin: 0 2px 0 2px;
  padding-top: 4px;
}
.cale {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.date {
  height: 24px;
  width: 80px;
  border-width: 0px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.table {
  position: absolute;
  top: 90px;
}
.bang {
  width: auto;
  position: relative;
  left: 24px;
  top: 7px;
}
.th {
  height: 40px;
  background-color: orange;
  color: white;
  /* max-width: 270px; */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  align-items: center;
  border-color: white !important;
  border-width: 1px !important;
  padding-left: 17px;
  text-align: left;
}
.td {
  padding-left: 17px;
  height: 43px;
  background-color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #535261;
  margin-left: 2px;
  border-width: 1px !important;
  border-color: white !important;
}

.tdchan {
  background-color: #fff2e7;
  padding-left: 8px;
  height: 49px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #535261;
  margin-left: 2px;
  border-width: 1px !important;
  border-color: white !important;
}
.duongdan {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.stop {
  color: red;
  width: 50px;
  height: 50px;
}
img.chamdo,
img.chamxanh {
  width: 8px;
  height: 8px;
  margin-bottom: 2px;
}
.newpage {
  width: 288px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  left: 350px;
  top: 30px;
}
.newpageitem {
  height: 26px;
  width: 26px;
  align-items: center;
  text-align: center;
  color: #7e7d88;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}
.newpageitem:hover {
  background-color: #fff2e7;
}
.ninow {
  background-color: orange !important;
  color: white !important;
}
