.grey {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  align-items: center;
  z-index: 2;
  position: relative;
  top: -61px;
  right: 0px;
}
div.belllist::-webkit-scrollbar {
  width: 5px;
}
div.belllist::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 5px;
}
div.belllist::-webkit-scrollbar-track {
  background-color: #ccc;
  border-radius: 5px;
}
.belled {
  margin-top: 28px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}
.screenBell {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 350px;
  height: 406px;
  background: white;
  flex-wrap: wrap;
  position: relative;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #f6f6f6;
  position: relative;
  top: -10px;
  right: -74px;
}
.titleBell {
  height: 48px;
  width: 350px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: #ff9138;
  color: white;
  padding-top: 9px;
  padding-left: 24px;
  padding-bottom: 9px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.belllist {
  width: 350px;
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 52px;
  left: 0px;
}
.bellItem {
  width: 330px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px 0px 6px 4px;
  padding-left: 12px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d4d4d7;
}
.bellItem:hover {
  background: #fff2e7;
  border-bottom-color: transparent;
}
.man {
  height: auto;
  width: auto;
  color: #bf5805;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.gian {
  height: auto;
  width: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #535261;
}
