.use {
  height: 24px;
  width: 300px;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #282739;
  position: absolute;
  top: 320px;
  left: 209px;
  right: 1061px;
  bottom: 466px;
}
.pas {
  position: absolute;
  top: 360px;
  left: 94px;
  right: 950px;
  bottom: 423px;
  height: 27px;
  width: 396px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #37474f;
}
.reset {
  height: 44px;
  width: 400px;
  border-radius: 8px;
  background: #ffffff;
  border: #d4d4d7;
  position: absolute;
  top: 391px;
  left: 94px;
  bottom: 375px;
  right: 964px;
  padding-left: 12px;
  padding-bottom: 8px;
  padding-top: 8px;
}
.submit {
  height: 40px;
  width: 162px;
  border-radius: 8px;
  padding: 10px, 24px, 10px, 24px;
  border: 1px solid #ff9138;
  color: white;
  background-color: orange;
  position: absolute;
  top: 483px;
  left: 304px;
  bottom: 284px;
  right: 1160px;
  cursor: pointer;
}
.cancel {
  height: 40px;
  width: 162px;
  border-radius: 8px;
  padding: 10px, 24px, 10px, 24px;
  border: 1px solid #ff9138;
  background-color: transparent;
  color: #ff9138;
  position: absolute;
  top: 483px;
  left: 118px;
  bottom: 284px;
  right: 1160px;
  cursor: pointer;
}
