/* Day */
.screenn {
  background: #f6f6f6;
  display: flex;
  flex-direction: row;
  width: 1519px;
  height: 810px;
  margin: 0px;
  padding: 0px;
}
.inform2 {
  height: 810px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}
.das {
  color: white;
  background-color: orange;
}
.map {
  width: auto;
  height: auto;
  background-color: transparent;
  border-width: 2px;
  display: flex;
  flex-direction: column;
}
.title7 {
  height: 30px;
  width: auto;
  color: #ff9138;
  position: relative;
  left: 24px;
  top: 29px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.title8 {
  height: 36px;
  width: auto;
  color: #ff9138;
  position: absolute;
  left: 244px;
  top: 104px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
.stt {
  height: auto;
  width: 100%;
  padding: 0px 15px 0px 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 140px;
}
.sttItem {
  height: 120px;
  width: 186px;
  border-radius: 10px;
  background: white;
  margin-right: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.sttItem:hover {
  z-index: 1;
}
.sttItem1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.imgstt {
  height: 48px;
  width: 48px;
  border-radius: 0px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-left: 12px;
}
.sttText {
  height: 36px;
  width: 75px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #535261;
  margin-top: 14px;
  margin-left: 4px;
}
.sttItem2 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 7px;
}
.imgstt2 {
  height: 14.978116035461426px;
  width: 48px;
  border-radius: 7.18115234375px;
  margin-bottom: 9px;
}
.sttNumber {
  height: 45px;
  width: 108px;
  color: #535261;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 7px;
  margin-right: 10px;
}
.board {
  width: 780px;
  height: auto;
  border-radius: 12px;
  background: white;
  margin-top: 16px;
  position: absolute;
  left: 247px;
  top: 294px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 24px;
  box-shadow: 2px 2px 15px 0px #4640431a;
}
.titleBoard {
  height: 30px;
  width: auto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #282739;
}
.timeBoard {
  height: 21px;
  width: 99px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #a9a9b0;
  margin-top: 4px;
}
.selecBoard {
  height: auto;
  width: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #282739;
  position: absolute;
  top: 33px;
  right: 170px;
}
.selecTimeboard {
  height: auto;
  width: 86px;
  border-radius: 8px;
  padding: 10px 12px 10px 12px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #d4d4d7;
  position: absolute;
  right: 53px;
  cursor: pointer;
}
.al:hover div.bl {
  display: block;
  z-index: 1;
}
.dayBoard {
  height: 24px;
  width: 38px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #7e7d88;
}
.imgdayBoard {
  height: 24px;
  width: 24px;
  border-radius: 0px;
}
.selecDifferent {
  height: 132px;
  width: 110px;
  border-radius: 8px;
  padding: 0px;
  border: 1px solid #d4d4d7;
  position: absolute;
  right: -1px;
  top: 45px;
  background-color: white;
  display: none;
}
.selecDifferentItem {
  height: auto;
  width: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #535261;
  padding: 10px 0px 10px 12px;
}
.selecDifferentItem:hover {
  background: #fff2e7;
  border-radius: 7px;
  cursor: pointer;
}
.chart {
  width: 761px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-top: 1px;
}
.chartItem {
  width: 100%;
  height: 42px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: #535261;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  border-bottom-color: #535261;
  padding-left: 4px;
  padding-bottom: 4px;
  position: relative;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column-reverse;
}
.chartDay {
  position: absolute;
  bottom: 66px;
  right: 30px;
  height: 223px;
  width: 730px;
  border-radius: 0px;
  background-color: white;
  /* background: linear-gradient(180deg, #ceddff 0%, rgba(206, 221, 255, 0) 100%); */
}
.selector {
  height: 20px;
  width: 20.271575927734375px;
  border-radius: 10px;
  position: absolute;
  top: 197px;
  left: 494px;
  /* background-color: #5185f7; */
}
.b4221 {
  height: 33px;
  width: 105px;
  border-radius: 0px;
  position: absolute;
  top: 161px;
  left: 451.6px;
  z-index: 1;
}
.ngay {
  height: 40px;
}
.slngay {
  height: 30px;
  width: 44px;
  position: absolute;
  left: 21px;
  bottom: 28px;
}
.slngay01 {
  height: 18px;
  width: 15px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #535261;
  position: absolute;
  left: 56px;
}
.slngay13 {
  height: 18px;
  width: 15px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #535261;
  position: absolute;
  left: 320px;
}
.slngay19 {
  height: 18px;
  width: 15px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #535261;
  position: absolute;
  left: 497px;
}
.slngay31 {
  height: 18px;
  width: 15px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #535261;
  position: absolute;
  left: 721px;
}
.overoll {
  width: 410px;
  height: 810px;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-width: 2px;
  margin: 0px;
  padding: -5px 0px 24px 24px;
}
.tongQuan {
  height: 36px;
  width: auto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff7506;
  position: absolute;
  top: 104px;
  left: 24px;
}
.tongQuanlist {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  position: absolute;
  top: 156px;
}
.tongQuanItem {
  height: 83px;
  width: 360px;
  border-radius: 12px;
  box-shadow: 2px 2px 15px 0px #4640431a;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
}
.tongQuanItempercent {
  height: 60px;
  width: 60px;
  border-radius: 0px;
  margin-left: 16px;
  margin-top: 11px;
}
.tongQuanItemcontent {
  height: auto;
  width: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #535261;
  margin-top: 14px;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
}

.tongQuanItemcontentthietbi {
  height: auto;
  width: auto;
  color: #ff7506;
  font-weight: 600;
  line-height: 21px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tongQuanItemcontentdichvu {
  height: auto;
  width: auto;
  color: #4277ff;
  font-weight: 600;
  line-height: 21px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tongQuanItemcontentcapso {
  height: auto;
  width: auto;
  color: #35c75a;
  font-weight: 600;
  line-height: 21px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.imgcapso,
.imgthietbi,
.imgdichvu {
  height: auto;
  width: auto;
  margin-top: 4px;
  margin-right: 5px;
}
.tongQuanItemstatus {
  height: auto;
  width: 150px;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 30px;
}
.tongQuanItemstatuss {
  height: auto;
  width: 150px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 36px;
  top: 10px;
}
.tongQuanItemstatus0 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}
.tongQuanItemstatus01 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}
.tongQuanItemstatus1 {
  height: auto;
  width: 100px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #7e7d88;
  text-align: left;
}
.tongQuanItemstatus2 {
  height: auto;
  width: auto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  color: #ff7506;
  margin-left: 4px;
  text-align: left;
}
.tongQuanItemstatus21 {
  height: auto;
  width: auto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  color: blue;
  margin-left: 4px;
  text-align: left;
}
.tongQuanItemstatus22 {
  height: auto;
  width: auto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  color: green;
  margin-left: 4px;
  text-align: left;
}
.cham {
  height: 4px;
  width: 4px;
  border-radius: 4px;
}
/* Lá»‹ch */
.datepickers {
  width: 360px;
  height: 300px;
  margin-top: 16px;
  margin-left: 24px;
  position: relative;
  top: 429px;
  box-shadow: 2px 2px 15px 0px #4640431a;
  border-radius: 12px;
}
.sdp {
  width: auto !important;
  height: 290px !important;
  --theme-color: orange !important;
  --disabled-color: orange !important;
}
.sdp--month-name {
  color: orange !important;
}
.sdp--square-btn__shadowed {
  color: orange !important;
}
/* Chartday */
.respon {
  width: 100%;
  margin-top: 15px;
}
