.titleDe {
  color: #7e7d88 !important;
}
.titleDe0 {
  left: 130px !important;
}
.Link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: stretch;
  color: black;
}
.Link:hover {
  background-color: #fff2e7;
  color: orange;
}
.dropdown,
.linkavatar {
  text-decoration: none;
}
.dropdown:hover {
  background: #fff2e7;
  border-radius: 7px;
  cursor: pointer;
}
